
body {
  font-family: 'Poppins', sans-serif;
  font-size: 19px;
  line-height: 1.42857143;
  color: rgb(119, 116, 116);
  background-color: #fff;
}

* {
    box-sizing: border-box;
  }
  * {
    transition: all .2s;
}

  
  
  .s01 form {
    width: 100%;
  max-width: 1500%;
  }
  
  
  
  .s01 form .inner-form {
    background: rgba(0, 0, 0, 0.5);
    padding: 34px 100px ;
    display: -ms-flexbox;
    display: flex;
    width: 1400px;
  margin: 0 auto;
  margin-top: 4%;
  
  }
  
  .s01 form .inner-form .input-field {
    margin-right: 30px;
    height: 68px;
  }
  
  .s01 form .inner-form .input-field input {
 
    background: #fff;
    border-radius: .5px;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 32px;
    font-size: 20px;
  }
  
  .s01 form .inner-form .input-field input.placeholder {
    color: #9a9a9a;
    font-size: 20px;
  }
  
  .s01 form .inner-form .input-field input:-moz-placeholder {
    color: #9a9a9a;
    font-size: 20px;
  }
  
  .s01 form .inner-form .input-field input::-webkit-input-placeholder {
    color: #9a9a9a;
    font-size: 20px;
  }
  
  .s01 form .inner-form .input-field input:hover, .s01 form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
  }
  
  .s01 form .inner-form .input-field.first-wrap {
    -ms-flex-positive: 1;
        flex-grow: 1;
  }
  
  .s01 form .inner-form .input-field.second-wrap {
    width: 32.77%;
    min-width: 180px;
  }
  
  .s01 form .inner-form .input-field.third-wrap {
    width: 180px;
    margin-right: 0;
  }
  
  .s01 form .inner-form .input-field.third-wrap .btn-search {
    height: 77%;
    width: 100%;
    background-color: #a61057;
    white-space: nowrap;
    border-radius: .5px;
    font-size: 20px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
  }
  
  .s01 form .inner-form .input-field.third-wrap .btn-search:hover {
    background: #2f9ba6;
  }
  
  @media screen and (max-width: 1400px) {
    
    .s01 form .inner-form {
      padding: 30px 35px;
      width: 900px;
  margin: 0 auto;
  margin-top: 4%;


    }
    .s01 form .inner-form .input-field.third-wrap .btn-search{ height: 100%;}
    .s01 form .inner-form .input-field {
      height: 50px;
    }
  }
  
  @media screen and (max-width: 899px) {
   
    .s01 form .inner-form .input-field.third-wrap .btn-search{ height: 70%;}
    .s01 form .inner-form {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 20px;
      width: 500px;
      margin-top: 4%;    }
    .s01 form .inner-form .input-field {
      margin-right: 0;
    }
    .s01 form .inner-form .input-field input {
      padding: 5px 15px;
      font-size: 16px;
    }
    .s01 form .inner-form .input-field.first-wrap {
      width: 100%;
      margin-bottom: 20px;
    }
    .s01 form .inner-form .input-field.second-wrap {
      width: calc(50% - 10px);
      min-width: auto;
    }
    .s01 form .inner-form .input-field.third-wrap {
      width: calc(50% - 10px);
    }
    .s01 form .inner-form .input-field.third-wrap .btn-search {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 499px) {
   
    .s01 form .inner-form .input-field.third-wrap .btn-search{ height: 70%;}
    .s01 form .inner-form {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 20px;
      width: 300px;
      margin-top: 4%;
    }
    .s01 form .inner-form .input-field {
      margin-right: 0;
    }
    .s01 form .inner-form .input-field input {
      padding: 5px 15px;
      font-size: 16px;
    }
    .s01 form .inner-form .input-field.first-wrap {
      width: 100%;
      margin-bottom: 20px;
    }
    .s01 form .inner-form .input-field.second-wrap {
      width: calc(50% - 10px);
      min-width: auto;
    }
    .s01 form .inner-form .input-field.third-wrap {
      width: calc(50% - 10px);
    }
    .s01 form .inner-form .input-field.third-wrap .btn-search {
      font-size: 16px;
    }
  }
  /* ----------------------------------------- */
  
  